@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: 'League Spartan', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-background-light text-text-primary transition-colors duration-300;
  }

  .dark body {
    @apply bg-darker text-white;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border rounded-full;
  }

  .dark ::-webkit-scrollbar-thumb {
    @apply bg-dark;
  }
}

@layer utilities {
  .drawer-shadow {
    box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  }
}
